@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

@layer base {
  @font-face {
    font-family: "Rubik-Regular";
    display: swap;
    src: url("fonts/Rubik-Regular.ttf") format("woff2");
  }
  @font-face {
    font-family: "Rubik-SemiBold";
    display: swap;
    src: url("fonts/Rubik-SemiBold.ttf") format("woff2");
  }
  @font-face {
    font-family: "Rubik-Italic";
    display: swap;
    src: url("fonts/Rubik-Italic.ttf") format("woff2");
  }
  @font-face {
    font-family: "Rubik-SemiBoldItalic";
    display: swap;
    src: url("fonts/Rubik-SemiBoldItalic.ttf") format("woff2");
  }
  @font-face {
    font-family: "Rubik-Medium";
    display: swap;
    src: url("fonts/Rubik-Medium.ttf") format("woff2");
  }
  @font-face {
    font-family: "Inter-Medium";
    display: swap;
    src: url("fonts/Inter-Medium.ttf") format("woff2");
  }
  @font-face {
    font-family: "Inter-SemiBold";
    display: swap;
    src: url("fonts/Inter-SemiBold.ttf") format("woff2");
  }
  @font-face {
    font-family: "Inter-Regular";
    display: swap;
    src: url("fonts/Inter-Regular.ttf") format("woff2");
  }
}

@layer utilities {
  .animation-delay-5000 {
    animation-delay: 5s;
  }
  .animation-delay-10000 {
    animation-delay: 10s;
  }
  .animation-delay-15000 {
    animation-delay: 15s;
  }
  .animation-delay-6000 {
    animation-delay: 5s;
  }
  .animation-delay-12000 {
    animation-delay: 10s;
  }
  .animation-delay-18000 {
    animation-delay: 15s;
  }
  .animation-delay-20000 {
    animation-delay: -2s;
  }
  .animation-delay-i1 {
    animation-delay: calc(18s / 4 * (4 - 1) * -1);
  }
  .animation-delay-i2 {
    animation-delay: calc(18s / 4 * (4 - 2) * -1);
  }
  .animation-delay-i3 {
    animation-delay: calc(18s / 4 * (4 - 3) * -1);
  }
  .animation-delay-i4 {
    animation-delay: calc(18s / 4 * (4 - 4) * -1);
  }
}
